@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.navigation__list {
  padding-top: 0.3125rem;
  padding-bottom: 0.625rem;
  display: flex;
  gap: 1rem;
  padding: 1rem 3rem;
  justify-content: space-around;
  align-items: center;
}
.navigation__listItem {
  list-style: none;
  display: grid;
}
.navigation__link {
  font-family: "Poppins", serif;
  color: black;
  transition: 0.5s;
  font-size: 1.125rem;
  text-decoration: none;
}
.navigation__link:hover {
  color: #f8dd9f;
  transform: scale(1.1);
}
.navigation__logo {
  align-self: end;
  width: 6.25rem;
}
.navigation__buttonLink {
  margin-left: 3rem;
  transition: 0.5s;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Poppins", serif;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  text-decoration: none;
  border: 2px solid transparent;
  background-color: black;
  padding: 0.4rem 1rem;
  padding-left: 2rem;
  border-radius: 0.3125rem;
}
.navigation__buttonLink:hover {
  color: black;
  background-color: transparent;
  border: 2px solid black;
}

.burgerMenuButton {
  display: none;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.hero__heading {
  z-index: 3;
  font-family: "DM Serif Display", serif;
  font-size: 5rem;
  color: white;
}
.hero__contentBox {
  max-width: 75rem;
  padding-left: 13%;
  grid-column: 1;
  align-self: center;
  z-index: 2;
  grid-row: 1;
}
.hero__text {
  color: white;
  margin-top: 0.625rem;
  font-family: "Poppins", serif;
  font-size: 1.375rem;
  max-width: 43.75rem;
  font-weight: 300;
  margin-bottom: 1.875rem;
}
.hero__img {
  grid-column: 1;
  grid-row: 1;
}
.hero__linkButton {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.565);
  transition: 0.5s;
  margin-top: 3.75rem;
  text-decoration: none;
  font-family: "Poppins", serif;
  color: black;
  border-radius: 0.3125rem;
  text-transform: uppercase;
  padding: 0.625rem 1.25rem;
  font-weight: 500;
  width: 12.5rem;
  height: 2.7rem;
  background-color: white;
}
.hero__linkButton:hover {
  background-color: #f8dd9f;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.565);
  color: black;
  transform: scale(1.1);
}

.pursuit {
  display: grid;
  padding-top: 6.25rem;
  padding-bottom: 11.25rem;
  background-color: #f8dd9f;
}
.pursuit__heading {
  font-size: 3.75rem;
  font-family: "DM Serif Display", serif;
  text-align: center;
}
.pursuit__text {
  text-align: center;
  max-width: 53.125rem;
  margin: 0.625rem auto;
  color: black;
  font-weight: 300;
  font-size: 1rem;
  font-family: "Poppins", serif;
}
.pursuit__linkButton {
  transition: 0.5s;
  text-decoration: none;
  font-family: "Poppins", serif;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  text-transform: uppercase;
  width: 10rem;
  text-align: center;
  padding: 0.625rem 1.25rem;
  margin: 1.25rem auto;
  background-color: rgb(0, 0, 0);
  border: 1px solid black;
}
.pursuit__linkButton:hover {
  background-color: #f8dd9f;
  border: 1px solid black;
  color: black;
  transform: scale(1.1);
}

.modern {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 11.25rem;
  padding-bottom: 11.25rem;
  justify-content: space-around;
  gap: 6.25rem;
  display: flex;
}
.modern__textDiv {
  width: 50%;
  align-content: center;
  display: grid;
  gap: 0.625rem;
}
.modern__textDiv--left {
  padding-left: 1.25rem;
  order: 1;
  justify-self: end;
}
.modern__img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  place-self: center;
}
.modern__heading {
  font-size: 3.75rem;
  font-family: "DM Serif Display", serif;
  font-weight: 200;
}
.modern__text {
  margin-bottom: 0.625rem;
  width: 100%;
  font-family: "Poppins", serif;
}
.modern__linkButton {
  margin-top: 30px;
  text-decoration: none;
  font-family: "Poppins", serif;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  text-transform: uppercase;
  width: 10rem;
  text-align: center;
  padding: 0.625rem 1.875rem;
  border: 1px solid transparent;
  transition: 0.5s;
  background-color: rgb(0, 0, 0);
}
.modern__linkButton:hover {
  background-color: rgb(254, 254, 254);
  border: 1px solid black;
  color: black;
  transform: scale(1.1);
}
.modern__imageDiv {
  width: 50%;
  align-content: center;
  justify-self: end;
  justify-content: center;
}
.modern__imageDiv--left {
  order: 2;
  padding-left: 0px;
  justify-self: start;
}

.services {
  height: 50rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.services:hover .services__service:not(:hover) {
  filter: grayscale(80%);
}
.services__service {
  grid-column: span 1;
  transition: all 0.3s;
  z-index: 2;
  place-self: center;
  font-size: 3.75rem;
  font-family: "DM Serif Display", serif;
  color: white;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 50rem;
  width: 100%;
  height: 50vw;
  min-height: 20rem;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.322);
}
.services__service:nth-child(1) {
  background-image: url("../images/servicesgallery/ydelser.jpg");
  background-size: cover; /* Sørger for, at billedet dækker hele elementet */
  background-position: center; /* Centrerer billedet */
  background-repeat: no-repeat; /* Forhindrer gentagelse */
}
.services__service:nth-child(2) {
  background-image: url("../images/servicesgallery/service.jpg");
  background-size: cover; /* Sørger for, at billedet dækker hele elementet */
  background-position: center; /* Centrerer billedet */
  background-repeat: no-repeat; /* Forhindrer gentagelse */
}
.services__service:nth-child(3) {
  background-image: url("../images/servicesgallery/kontaktos.jpg");
  background-size: cover; /* Sørger for, at billedet dækker hele elementet */
  background-position: center; /* Centrerer billedet */
  background-repeat: no-repeat; /* Forhindrer gentagelse */
}

.getInTouch {
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
  gap: 11.5rem;
  padding-top: 10%;
  background-color: #f8dd9f;
  display: flex;
  justify-content: space-around;
}
.getInTouch__textDiv {
  width: 45%;
}
.getInTouch__heading {
  font-size: 60px;
  font-family: "DM Serif Display", serif;
  font-weight: 200;
}
.getInTouch__text {
  margin-bottom: 1.25rem;
  font-family: "Poppins", serif;
}
.getInTouch__text--bold {
  font-size: 1.375rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
}
.getInTouch__form {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
}
.getInTouch__input {
  width: 100%;
  transition: 0.5s;
  height: 2.625rem;
  border-radius: 0.625rem;
  border: none;
  font-size: 1rem;
  padding-left: 0.625rem;
  border: 2px solid rgba(255, 255, 255, 0);
  font-family: "Poppins", serif;
}
.getInTouch__input::placeholder {
  color: rgba(0, 0, 0, 0.628);
  font-family: "Poppins", serif;
}
.getInTouch__input:hover {
  background-color: rgba(255, 255, 255, 0.539);
  border: 2px solid rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transform: scale(1.01);
}
.getInTouch__input:focus {
  background-color: rgba(255, 255, 255, 0.249);
  border: 2px solid rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transform: scale(1.03);
}
.getInTouch__textarea {
  border-radius: 0.625rem;
  color: rgba(0, 0, 0, 0.628);
  border: none;
  color: black;
  height: 5.4375rem;
  transition: 0.5s;
  border: 2px solid transparent;
  padding: 0.625rem;
  font-size: 1rem;
}
.getInTouch__textarea::placeholder {
  color: rgba(0, 0, 0, 0.628);
  font-family: "Poppins", serif;
}
.getInTouch__textarea:hover {
  background-color: rgba(255, 255, 255, 0.539);
  border: 2px solid rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transform: scale(1.01);
}
.getInTouch__textarea:focus {
  background-color: rgba(255, 255, 255, 0.249);
  border: 2px solid rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transform: scale(1.03);
}
.getInTouch__failMeesage {
  display: none;
  color: red;
  margin-top: -1rem;
  margin-bottom: -1rem;
  font-family: "Poppins", serif;
}
.getInTouch__submit {
  margin-top: 1.875rem;
  text-decoration: none;
  font-family: "Poppins", serif;
  color: rgb(255, 255, 255);
  border-radius: 0.3125rem;
  text-transform: uppercase;
  background-color: black;
  border: none;
  transition: 0.5s;
  width: 12.5rem;
  height: 2.9375rem;
  font-size: 1rem;
  margin-left: auto;
}
.getInTouch__submit:hover {
  background-color: rgb(254, 254, 254);
  color: black;
  transform: scale(1.1);
}

.footer {
  padding-top: 5rem;
  padding-bottom: 6.25rem;
  padding-left: 10vw;
  padding-right: 5%;
  background-color: black;
}
.footer__flexContent {
  max-width: 81.25rem;
  display: flex;
  gap: 5vw;
  justify-content: space-around;
}
.footer__heading {
  font-size: 2.1875rem;
  font-family: "DM Serif Display", serif;
  color: white;
  font-weight: 200;
  margin-bottom: 1.25rem;
}
.footer__adress {
  color: white;
  font-family: "Poppins", serif;
}
.footer__adreesGroup {
  display: block;
  margin-top: 0.625rem;
}
.footer__link {
  text-decoration: none;
  color: whtie;
  font-family: "Poppins", serif;
  color: white;
}
.footer__opening {
  margin-top: 1.25rem;
}
.footer__openingHeading {
  color: white;
  font-family: "Poppins", serif;
  font-size: 1rem;
}
.footer__text {
  color: white;
  font-family: "Poppins", serif;
}
.footer__iconGroup {
  margin-top: 1.25rem;
  display: flex;
  gap: 0.625rem;
}
.footer__icon {
  font-size: 1.4375rem;
  color: white;
}

@media only screen and (max-width: 1500px) {
  .services {
    height: auto;
  }
  .services__img {
    height: 100%;
  }
  .footer {
    padding-left: 0vw;
    padding-right: 0;
    justify-content: center;
  }
}
@media only screen and (max-width: 1084px) {
  .navigation {
    padding-top: 1.875rem;
    width: 100%;
    z-index: 100;
    background-color: transparent;
    transition: 0.4s;
    position: fixed;
    height: 100vh;
    transform: translateX(-100%);
  }
  .navigation__list {
    max-height: 90vh;
    flex-direction: column;
    gap: 1.1875rem;
    height: 90vh;
    transition: 0.5s;
  }
  .navigation__link {
    text-align: center;
    font-size: 1.5rem;
  }
  .navigation__logo {
    width: 9.25rem;
  }
  .navigation__list {
    padding: 0;
  }
  .navigation__buttonLink {
    font-size: 1.5rem;
  }
  .burgerMenuButton {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    display: block;
    font-size: 1.375rem;
    position: fixed;
    right: 5%;
    z-index: 110;
    top: 5%;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    cursor: pointer;
  }
  .navigation--foldout {
    background-color: #f8dd9f;
    position: fixed;
    transform: translateX(0%);
  }
  .navigation--foldout .navigation__buttonLink {
    display: block;
    text-align: center;
    margin-top: 0px;
  }
  .hero__heading {
    font-size: 3rem;
  }
  .hero__text {
    font-size: 1rem;
  }
  .hero__contentBox {
    padding-left: 5%;
    max-width: 90%;
  }
  .services__heading {
    font-size: 2.75rem;
  }
  .getInTouch {
    padding-bottom: 2rem;
    gap: 1rem;
    padding: 2rem 0;
    flex-direction: column;
  }
  .getInTouch__textDiv {
    margin: 0 auto;
    text-align: center;
    width: 90%;
  }
  .getInTouch__form {
    margin: 0 auto;
  }
  .getInTouch__submit {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 768px) {
  .navigation__buttonLink {
    margin-left: 0;
    padding-left: 1rem;
  }
  .hero {
    height: 100vh;
  }
  .hero__contentBox {
    max-width: 92%;
  }
  .hero__heading {
    text-align: center;
  }
  .hero__text {
    text-align: center;
  }
  .hero__linkButton {
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  .hero__img {
    height: 100%;
    object-fit: cover;
  }
  .pursuit__heading {
    font-size: 2.5rem;
  }
  .services__service {
    height: 10vw;
    font-size: 2rem;
  }
  .modern {
    padding-top: 7rem;
    flex-direction: column;
  }
  .modern__heading {
    font-size: 2.5rem;
  }
  .modern__imageDiv {
    width: 100%;
  }
  .modern__textDiv {
    width: 100%;
  }
  .modern__linkButton {
    display: block;
    margin: 2rem auto 0 auto;
  }
  .getInTouch__heading {
    font-size: 2.5rem;
  }
  .getInTouch__getInTouch__text--bold {
    font-size: 1.5rem;
  }
  .getInTouch__form {
    width: 80%;
  }
  .footer {
    padding-left: 1rem;
  }
  .footer__flexContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}
@media only screen and (max-width: 550px) {
  .services {
    display: flex;
    flex-direction: column;
  }
  .services__service {
    font-size: 3rem;
  }
  .hero__contentBox {
    padding: 0;
    margin: 0 auto;
    max-width: 94%;
  }
  .footer {
    padding-left: 1rem;
  }
  .footer__iconGroup {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 370px) {
  .footer {
    text-align: center;
    text-align: center;
  }
  .footer__flexContent {
    gap: 3rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
  }
  .footer__section {
    height: auto;
  }
}